﻿@model NextIS.Chat.Web.Models.Chat.MessageFilterModel

@{
    ViewBag.Title = "История";
    Layout = "_Layout";
}


<nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-top: 10px; margin-bottom: 20px;">
    <form class="form-inline" asp-action="History" method="get">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div class="input-group mr-sm-2">
            <div class="input-group-prepend">
                <label class="input-group-text" for="author">Автор:</label>
            </div>
            <select class="custom-select" asp-for="AuthorId" id="author">
                <option selected="selected">Выберите </option>
                @foreach (var author in Model.Authors)
                {
                    <option value="@author.Id">@author.Login</option>
                }
            </select>
        </div>


        <div class="input-group mr-sm-2">
            <div class="input-group-prepend">
                <label class="input-group-text" for="author">C:</label>
            </div>
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" asp-for="From" />
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>


        <div class="input-group mr-sm-2">
            <div class="input-group-prepend">
                <label class="input-group-text" for="author">По:</label>
            </div>
            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" asp-for="To" />
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Показать</button>
    </form>
</nav>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Автор</th>
        <th scope="col">Текст сообщения</th>
        <th scope="col">Дата</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var message in Model.Messages)
    {
        <tr>
            <th scope="row">@message.Id</th>
            <td>@message.Author.Login</td>
            <td>@message.Text</td>
            <td>@message.OnDate</td>
        </tr>
    }

    </tbody>
</table> 