﻿@{
    ViewBag.Title = "Чат";
    Layout = "_Layout";
}
 
<div class="messaging">
    <div class="inbox_msg">

        <div class="inbox_people">
            <div class="headind_srch">
                <div class="recent_heading">
                    <h4>Пользователи онлайн</h4>
                </div>

                <div class="srch_bar">
                    <div class="stylish-input-group">
                        <span class="input-group-addon">
                            <button type="button">
                                <a href="~/Account/Logout" class="btn btn-info btn-lg">
                                    <span class="glyphicon glyphicon-log-out"></span> Log out <span id="user-name">@User.Identity.Name</span>
                                </a>
                            </button>
                        </span>
                    </div>
                </div>

            </div>

            <div class="inbox_chat" id="chat"> 

            </div>

        </div>

        <div class="mesgs">
            <div class="msg_history" id="messages_history">  

            </div>

            <div class="type_msg">
                <div class="input_msg_write">
                    <input type="text" class="write_msg" placeholder="текст..." id="message"/>
                    <button class="msg_send_btn" type="button">
                        <i class="fa fa-paper-plane-o" id="send_btn" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="/js/signalr/dist/browser/signalr.min.js"></script>
<script>

    function add_user(userName) {
        var options = {
            hour: 'numeric',
            minute: 'numeric',
            day: 'numeric',
            month: 'long'
        };

        var dateTime = new Date().toLocaleString("ru", options);

        const elemString = `<div class="chat_people">
                                    <div class="chat_img">
                                        <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                                    </div>
                                    <div class="chat_ib">
                                        <h5>` +
            userName +
            `<span class="chat_date">` +
            dateTime +
            `</span></h5>
                                    </div>
                                </div>`;

        var htmlElem = document.createElement('div');
        htmlElem.className = "chat_list";
        htmlElem.id = userName;
        htmlElem.innerHTML = elemString;

        document.getElementById("chat").append(htmlElem);
    }

    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();

    hubConnection.on("Send",
        function(message, userName) {

            var currentUserName = document.getElementById("user-name").textContent;

            var options = {
                minute: 'numeric',
                hour: 'numeric',
                day: 'numeric',
                month: 'long'
            };

            var dateTime = new Date().toLocaleString("ru", options); 

            const outgoingMsg = `<div class="sent_msg">
                                   <p>` + message + `</p> <span class="time_date"> ` + dateTime + `</span>
                                 </div>`;

            const incomingMsg = `<div class="incoming_msg_img">
                                     <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                                     <div class="chat-name">`+userName+`</div>
                                 </div>
                                 <div class="received_msg">
                                     <div class="received_withd_msg">
                                         <p>`+message+`</p> <span class="time_date"> ` + dateTime + `</span>
                                     </div>
                                 </div>`; 

            var messageClass = currentUserName === userName ? "outgoing_msg" : "incoming_msg";

            var htmlElem = document.createElement('div');
            htmlElem.className = messageClass;
            htmlElem.innerHTML = currentUserName === userName ? outgoingMsg : incomingMsg;

            document.getElementById("messages_history").append(htmlElem);

        });

    hubConnection.on("Login",
        function(userName) {
            add_user(userName);
        });

    hubConnection.on("Logout",
        function(userName) {

            var htmlElem = document.getElementById(userName);

            document.getElementById("chat").removeChild(htmlElem);
        });

    hubConnection.on("OnlineUsers",
        function(userNames) {

            for (var i = 0; i < userNames.length; i++) {

                var userName = userNames[i];

                add_user(userName);
            }
        });

    document.getElementById("send_btn").addEventListener("click",
        function(e) {
            try {
                var currentUserName = document.getElementById("user-name").textContent;
                var messageBox = document.getElementById("message");

                hubConnection.invoke("Send", messageBox.value, currentUserName);

                messageBox.value = '';

            } catch (e) {
                console.log(e);
            }
        });

    hubConnection.start();
</script>