﻿@model NextIS.Chat.Web.Models.Account.LoginModel

@{
    ViewBag.Title = "Чат";
    Layout = "_Layout";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="https://ptetutorials.com/images/user-profile.png" id="icon" alt="Вход">
        </div>

        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"/>

            <input type="text" id="login" class="fadeIn second" name="login" placeholder="логин" asp-for="Login" >
            <span asp-validation-for="Login"/>

            <input type="text" id="password" class="fadeIn third" name="password" placeholder="пароль" asp-for="Password">
            <input type="submit" class="fadeIn fourth" value="Войти">
        </form>

    </div>
</div>